<div class=" header clearfix">

    <div class="">


    {{> atoms-logo }}

    </div>

    <nav class=" nav-collapse" >

        {{> molecules-navigation-link-list }}
    </nav>


    <img id="mobile-nav-button"  class='' src="/../../../images/mobile-nav-button.png">

    <script>
        var nav = responsiveNav(".nav-collapse",{

            customToggle:'mobile-nav-button'
        });
    </script>



</div>