<div class="header clearfix">

    {{> atoms-logo }}

    <nav class="nav-collapse" >

        {{> molecules-navigation-link-list }}
    </nav>
    <script>
        var nav = responsiveNav(".nav-collapse");
    </script>
</div>