


&lt;ul class=&quot;nav-collapse navigation-link-list row&quot;&gt;
    &lt;li class=&quot;navigation-link-list-item col-xs-12&quot;&gt;
        {{&gt; atoms-navigation-link(linkText: &quot;Home&quot;) }}
    &lt;/li&gt;

    &lt;li class=&quot;navigation-link-list-item col-xs-12&quot;&gt;
        {{&gt; atoms-navigation-link(linkText: &quot;Blog&quot;) }}
    &lt;/li&gt;
    &lt;li class=&quot;navigation-link-list-item col-xs-12&quot;&gt;
        {{&gt; atoms-navigation-link(linkText: &quot;About&quot;) }}
    &lt;/li&gt;
    &lt;li class=&quot;navigation-link-list-item col-xs-12&quot;&gt;
        {{&gt; atoms-navigation-link(linkText: &quot;Projects&quot;) }}
    &lt;/li&gt;

&lt;/ul&gt;

