<div style="background-color:#8A0917">

<ul class="navigation-link-list">
    <li class="navigation-link-list-item">
        {{> atoms-navigation-link(linkText: "Home") }}
    </li>

    <li class="navigation-link-list-item">
        {{> atoms-navigation-link(linkText: "Blog") }}
    </li>
    <li class="navigation-link-list-item">
        {{> atoms-navigation-link(linkText: "About") }}
    </li>
    <li class="navigation-link-list-item">
        {{> atoms-navigation-link(linkText: "Projects") }}
    </li>

</ul>

</div>
