<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #595241;"></span>
		<span class="sg-label">#595241</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #B8AE9C;"></span>
		<span class="sg-label">#B8AE9C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">#FFFFFF</span>
	</li>

	<li>
		<span class="sg-swatch" style="background: #ACCFCC;"></span>
		<span class="sg-label">#ACCFCC</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8A0917;"></span>
		<span class="sg-label">#8A0917</span>
	</li>
</ul>
